option_settings:
  "aws:elasticbeanstalk:container:php:phpini":
    document_root: /public
    memory_limit: 512M
  "aws:elasticbeanstalk:application:environment":
    APP_DEBUG: false
    APP_ENV: production
    APP_KEY: base64:R+Ny90LZAEayFAGeL5xrt9iaJzQEkyUCMWw3Jf64j+E=
    APP_NAME: 22222COM
    APP_URL: http://forkthecoopprod-env.eba-wg2wspwm.ap-southeast-1.elasticbeanstalk.com
    LOG_CHANNEL: stack
    DB_CONNECTION: mysql
    DB_DATABASE: forkthecoupprod
    DB_HOST: fork-the-coup-production.cpzmgaq1h6rm.ap-southeast-1.rds.amazonaws.com
    DB_PASSWORD: april.2241991
    DB_PORT: 3306
    DB_USERNAME: admin
